<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string># Copy html dummy text to clipboard
# options are:
# lp: long p, mp: medium p, p: p
# lul: long ul, ul: ul, ol: ol
# uln: nav ul, dl: dl
./lipsum {query} | pbcopy
echo "Copied to clipboard!"</string>
	<key>escapequery</key>
	<true/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<true/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>lipsum</string>
	<key>logging</key>
	<false/>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>"Lorem Ipsum" html generator</string>
	<key>title</key>
	<string>Html Ipsum</string>
</dict>
</plist>
